<!DOCTYPE html>
<html>
    <head>

    </head>
<body>



<div class="d-flex justify-content-center p-5">
    <div id="name">Hi</div>
</div>

<div class="container text-center">
    <div>
      <div>
      </div>
      <div>
        <p>Hello everyone!</p>
      </div>
      <div>
      </div>
    </div>
  </div>


<div class="d-flex justify-content-around mt-4 bg-dark p-2" style="--bs-bg-opacity: .2;">
    <button>Get Program Content</button>
    <button>Show images</button>
</div>


<ol class="list-group list-group-numbered" id="programsListed"></ol>

<div id="dogImages" class="d-flex justify-content-around flex-wrap"></div>

<script>


var getPost = async function () {
// Get the post data

    if( ) {
        //https://mszucseducation.github.io/data/data.json
     
    } else {
        //
    }

};

function capitalizationFormatting(text) {

}


function showPrograms(data) {

}

function showImage() {

}

</script>


</body>
</html>
